<div id="weapons">
    <div id="chosen-weapons">
        <h1>Escudo Escolhido</h1>
        <p *ngIf="chosen_shield.length <= 0">Nenhum escudo escolhido</p>
        <div>
            <table>
                <tr *ngFor="let shield of chosen_shield; let i = index;">
                    <td class="name-weapon"> {{ shield.nome }} </td>
                    <td class="damage-weapon"> Bônus: {{ shield.bonus }} </td>
                    <td class="range-weapon"> Penalidade: {{ shield.penalidade }} </td>
                    <td class="remove-button">
                        <button class="remove-weapon" (click)="choose_shield(i)">-</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="list-weapons">
        <div>
            <table>
                <tr *ngFor="let shield of shield_list; let i = index;" class="shield-tr">
                    <td class="name-weapon"> {{ shield.nome }} </td>
                    <td class="damage-weapon"> Bônus: {{ shield.bonus }} </td>
                    <td class="range-weapon"> Penalidade: {{ shield.penalidade }} </td>
                    <td class="add-button">
                        <button class="add-weapon" (click)="remove_shield(i)">+</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
