<div class="row" id="basic-stats">
    <div class="basics col-sm-4">
        <p><span>Raça:</span> {{char_race}} (lvl {{char_level}})</p>
        <p><span>Classe:</span> {{char_class}}</p>
        <p><span>Origem:</span> {{char_origin}}</p>
        <p><span>Deus:</span> {{char_god}}</p>
    </div>
    <div class="life col-sm-4">
        <p>Vida total</p>
        <p class="number">{{life_points}}</p>
    </div>
    <div class="mana col-sm-4">
        <p>Mana total</p>
        <p class="number">{{mana_points}}</p>
    </div>
</div>