<div id="weapons">
    <div id="chosen-weapons">
        <h1>Armadura Escolhida</h1>
        <p *ngIf="chosen_armor.length <= 0">Nenhuma armadura escolhida</p>
        <div>
            <table>
                <tr *ngFor="let armor of chosen_armor; let i = index;">
                    <td class="name-weapon"> {{ armor.nome }} </td>
                    <td class="damage-weapon"> Bônus: {{ armor.bonus }} </td>
                    <td class="range-weapon"> Penalidade: {{ armor.penalidade }} </td>
                    <td class="remove-button">
                        <button class="remove-weapon" (click)="choose_armor(i)">-</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="list-weapons">
        <div>
            <table>
                <tr *ngFor="let armor of protection; let i = index;" class="armor-tr">
                    <td class="name-weapon"> {{ armor.nome }} </td>
                    <td class="damage-weapon"> Bônus: {{ armor.bonus }} </td>
                    <td class="range-weapon"> Penalidade: {{ armor.penalidade }} </td>
                    <td class="add-button">
                        <button class="add-weapon" (click)="remove_armor(i)">+</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
